page {
  background: #f7f8fa;
}
.circle-label-page {
  margin: 24px 32px 0;
  .circle-label-drag {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    image {
      width: 38px;
      height: 38px;
    }
    &-text {
      padding-left: 8px;
      font-size: 32px;
      font-family: PingFang SC-Regular, PingFang SC;
      font-weight: 400;
      color: #333333;
      line-height: 38px;
    }
  }
  .circle-label-card {
    width: 100%;
    background: #ffffff;
    border-radius: 24px;
    padding-left: 32px;
    padding-right: 32px;
    .circle-label-view {
      width: 300px;
      margin-left: 32px;
      margin-right: 32px;
      height: 105px;
    }
  }
}
// 让画面出现一个上移或下移"让位"的效果
.drag-up {
  animation: dragup ease 0.1s 1;

  animation-fill-mode: forwards;
}

.drag-down {
  animation: dragdown ease 0.1s 1;

  animation-fill-mode: forwards;
}

@keyframes dragup {
  from {
    margin-top: 10px;
  }

  to {
    margin-top: 50px;
  }
}

@keyframes dragdown {
  from {
    margin-bottom: 10px;

    margin-top: 50px;
  }

  to {
    margin-bottom: 50px;

    margin-top: 10px;
  }
}
