page {
  background: #f7f8fa;
}

.circle-skills-page {
  height: 100%;
  padding: 24px 32px 0;
  padding-bottom: calc(constant(safe-area-inset-bottom) + 200px);
  padding-bottom: calc(env(safe-area-inset-bottom) + 200px);

  .circle-skills-card {
    border-radius: 24px;
    padding: 44px 24px;
    background: #ffffff;
    margin-bottom: 20px;
    .circle-age {
      padding-top: 40px;
    }
  }
  .footer-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    box-shadow: 0px -16px 24px -12px rgba(0, 0, 0, 0.15);
    .footer-btn {
      margin: 20px 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 88px;
      background: #1c1c1e;
      border-radius: 8px;
      font-size: 30px;
      font-family: PingFang SC-Regular, PingFang SC;
      font-weight: 400;
      color: #ffffff;
    }
  }
}
