.mine-circle {
  margin-left: 32px;
  margin-right: 32px;
  margin-top: -80px;
  padding-bottom: 60px;
  background: #ffffff;
  border-radius: 20px;
  position: relative;
  z-index: 2;
  .circle-dashed {
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 58px;
    margin-bottom: 58px;
    border-bottom: 4px dashed rgba(51, 51, 51, 0.1);
  }
  .circle-style-item {
    flex-wrap: nowrap;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    &:first-child {
      .circle-style-age {
        top: 10px;
      }
    }
    .circle-style-age {
      position: absolute;
      right: 10px;
      top: -30px;
      font-size: 200px;
      font-family: Impact-Regular, Impact;
      font-weight: 400;
      color: rgba(194, 194, 194, 1);
      opacity: 0.25;
    }
    .circle-style-header {
      display: flex;
      align-items: center;
      .circle-style-title {
        font-size: 36px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #333333;
        line-height: 42px;
        padding-right: 16px;
      }
    }
    .circle-style-body {
      .circle-style-label {
        padding-top: 40px;

        &-tips {
          font-size: 20px;
          font-family: PingFang SC-Regular, PingFang SC;
          font-weight: 400;
          color: #333333;
          line-height: 23px;
          padding-bottom: 16px;
        }
        &-scroll {
          width: 410px;
        }
        &-list {
          display: flex;
          align-items: center;
          .circle-style-label-item {
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-right: 16px;
            padding: 20px 24px;
            font-size: 24px;
            font-family: PingFang SC-Semibold, PingFang SC;
            font-weight: 600;
            border-radius: 20px;
            color: #333333;
            &.skill-label {
              background: #fff1f1;
            }
            &.personality-label {
              background: #ddefff;
            }
            &.label-empty {
              display: flex;
              justify-content: space-around;
              align-items: center;
              font-weight: normal;
              margin-right: 0;
            }
          }
        }
      }
    }
    &:first-child {
      padding-top: 46px;
    }
    // &:after {
    //   content: '';
    //   position: absolute;
    //   left: 32px;
    //   right: 32px;
    //   border-bottom: 4px dashed rgba(51, 51, 51, 0.1);
    // }
    // &::last-child {
    //   &:after {
    //     display: none;
    //   }
    // }
  }
}
